<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 配置数据源，交给Spring去做 -->

    <!-- 日志 -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!-- 配置别名 -->
    <typeAliases>
        <package name="com.chen.pojo"/>
    </typeAliases>

    <!-- mapper绑定 -->
    <mappers>
        <mapper class="com.chen.dao.BookMapper"/>
        <mapper class="com.chen.dao.UserMapper"/>
    </mappers>
</configuration>